

<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="page-title-box">
					<h4 class="page-title">Signing Users</h4>
					
					<div class="clearfix"></div>
				</div>
				{echo Shared\Markup::message($message ?? null)}
			</div>
		</div>
		
		<br>
		<div class="row">
			<div class="col-sm-12">
				<br>
				<div class="card">
					<div class="table-responsive">
						<table class="datatable display nowrap" style="width:100%">
							<thead>
								<tr>
									<th>Full Name</th>
									<th>Email</th>
									<th>Contact</th>
								
                                    <th>Action</th>
								</tr>
							</thead>
							<tbody>
								{foreach $user in $users}
								<tr>
                                    
									<td >{echo $user->fullname}</td>
									<td>{echo $user->email}</td>
									<td>{echo $user->contact}</td>
                                  
                                    <td>
										<a href="/signingusers/add/{echo $user->_id}" class="btn btn-xs btn-outline-warning">Edit <i class="fa fa-pencil"></i></a>
                                        <a href="/signingusers/deleteUser/{echo $user->_id}" class="btn btn-xs btn-outline-warning">Delete <i class="fa fa-trash"></i></a>
									</td>
                                    <td>
									
									</td>
								</tr>
								{/foreach}
							</tbody>
						</table>
					</div>
					<center>
						<div>
							<ul class="pagination justify-content-center">
								<li class="page-item {if $page == 1}disabled{/if}">
									<a class="page-link" href="{echo Shared\Markup::pagination($page - 1)}" tabindex="-1">Previous</a>
								</li>
								<li class="page-item {if $page == ceil($total/$limit)}disabled{/if}">
									<a class="page-link" href="{echo Shared\Markup::pagination($page + 1)}">Next</a>
								</li>
							</ul>
						</div>
					</center>
				</div>
			</div>
		</div>
	</div>
</div>
{include layouts/opts/datatables.html}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
<script type="text/javascript">
var options = {
	"aaSorting": [[0, 'desc']],
	"scrollX": true
};
options.buttons = buttons.buttons
options.dom = buttons.dom;
var settings = $.extend( {}, buttons, options );
var pageTable;

$(document).ready(function() {
	$("img.lazy").lazyload();
	pageTable = $('.datatable').DataTable(options);
});
</script>