

<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-10">
				
				{echo Shared\Markup::message($message ?? null)}
			</div>
            
          
		</div>
		
		<br>
        <div class="card shadow" style="margin-bottom: 20px;">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary"> Search </h6>
			</div>
            <form class="card-body datesubmit row" method="get">
                <div class="col-3">
                    <div class="form-row">
                        <div class="form-group">Email</div>
                    </div>
                    <div id="viewrange" class="form-group">
                                <input type="email" name="query[email]" class="form-control" value="{echo $query['email'] ?? ''}">
                    
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-row">
                        <div class="form-group">Full Name</div>
                    </div>
                    <div id="viewrange" class="form-group">
                            <input type="text" name="query[name]" class="form-control" value="{echo $query['name'] ?? ''}">
                    </div>

                </div>
                <div class="col-4">
                    <div class="form-row">
                        <div class="form-group">Created Date</div>
                    </div>
                    <div class="form-row">
                        <div id="viewrangeFinance" class="form-group  float-right daterangeinput">
                            <div id="daterange" data-max-days="180" class="form-control" >
                                <i class="fa fa-calendar"></i>&nbsp;
                            <span></span> <i class="fa fa-caret-down"></i>
                            </div>
                            <input type="hidden" name="start" id="start" value="{echo Framework\TimeZone::format(['date' => $start, 'format' => 'Y-m-d'])}">
                            <input type="hidden" name="end" id="end" value="{echo Framework\TimeZone::format(['date' => $end, 'format' => 'Y-m-d'])}">
                        </div>
                    </div>

                </div>
                <div class="col-2">
                    <button  class="btn btn-rounded  btn-primary btn-custom w-md waves-effect waves-light" style="margin-top:40px" type="submit">Submit</button>
                </div>
            </form>
				
		</div>
        
        {if $users}
        <div class="card shadow mb-4">  
             <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Full Name</th>
                                <th>Email</th>
                                <th>Contact</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                       <tbody>
                        {foreach $user in $users}
                        <tr>
                            
                            <td >{echo $user->name}</td>
                            <td>{echo $user->email}</td>
                            <td>{echo $user->contact}</td>
                             <td>
                                <a href="/signingusers/add/{echo $user->_id}" class="btn btn-xs btn-outline-primary">Edit <i class="fa fa-pencil" style="margin-inline:5px"></i></a>
                                <a href="/signingusers/deleteUser/{echo $user->_id}" class="btn btn-xs btn-outline-danger">Delete <i class="fa fa-trash"></i></a>
                            </td>
                            
                        </tr>
                        {/foreach}
                        </tbody>
                    </table>
                </div>
            </div>  
        </div>
        {/if} {else}
		<div class="card-body">
			<th class="card-text">No data</th>
		</div>
		{/else}
	</div>
</div>
<script type="text/javascript">

$(document).ready(function () {
        $('table.display').DataTable();
        var start = '$start' ? moment('$start') : moment().subtract(29, 'days');
        var end = '$end' ? moment('$end') : moment();function cb(start, end) {
            $('#start').attr('value', start.format('YYYY-MM-DD'));
            $('#end').attr('value', end.format('YYYY-MM-DD'));
            $('#viewrangeFinance span').html(start.format('DD-MM-YYYY') + ' - ' + end.format('DD-MM-YYYY'));
        }
        $('#viewrangeFinance').daterangepicker({
            startDate: start,
            endDate: end,
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);
        cb(start, end);
    });
 
</script>