

<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="page-title-box">
					<h4 class="page-title">Signing Users</h4>
					
					<div class="clearfix"></div>
				</div>
				{echo Shared\Markup::message($message ?? null)}
			</div>
		</div>
		
		<br>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Users</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Full Name</th>
                                <th>Email</th>
                                <th>Contact</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                       <tbody>
                        {foreach $user in $users}
                        <tr>
                            
                            <td >{echo $user->fullname}</td>
                            <td>{echo $user->email}</td>
                            <td>{echo $user->contact}</td>
                             <td>
                                <a href="/signingusers/add/{echo $user->_id}" class="btn btn-xs btn-outline-warning">Edit <i class="fa fa-pencil"></i></a>
                                <a href="/signingusers/deleteUser/{echo $user->_id}" class="btn btn-xs btn-outline-warning">Delete <i class="fa fa-trash"></i></a>
                            </td>
                            <td>
                            
                            </td>
                        </tr>
                        {/foreach}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
	</div>
</div>
{include layouts/opts/datatables.html}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
<script type="text/javascript">
var options = {
	"aaSorting": [[0, 'desc']],
	"scrollX": true
};
options.buttons = buttons.buttons
options.dom = buttons.dom;
var settings = $.extend( {}, buttons, options );
var pageTable;

$(document).ready(function() {
	$("img.lazy").lazyload();
	pageTable = $('.datatable').DataTable(options);
});
</script>