
{script $show = $user->role == 'admin' ? true : false}

<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-10">
				
				{echo Shared\Markup::message($message ?? null)}
			</div>
           
		</div>
	
		<br>
         <div class="card shadow mb-4">
            
            {if $show}
            <div class="text-start px-md-2" style="margin:10px">
                <a class="btn btn-primary"  href="/contract/add" padding="10px"><i class="fa fa-plus"></i> Add new Contract </a>
            </div>
            {/if}
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Contract Name</th>
									<th>Company</th>
									<th>Type</th>
									<th>Start Date</th>
									<th>End Date</th>
                                    {if $show}<th>Action</th>{/if}
                            </tr>
                        </thead>
                       <tbody>
                            {foreach $cont in $contracts}
                                <tr>
                                    
                                    <td >{echo $cont->cname}</td>
                                    <td>{echo $cont->company}</td>
                                    <td>{echo $cont->type}</td>
                                
                                    <td>{echo Framework\TimeZone::printDate($cont->startDate)}</td>
                                    <td>{echo Framework\TimeZone::printDate($cont->endDate)}</td>
                                    {if $show}
                                    <td>
                                        <a href="/contract/addContract/{echo $cont->_id}" class="btn btn-xs btn-outline-primary">Edit <i class="fa fa-pencil"></i></a>
                                        <a data-toggle="modal" data-target="#contractDelModal"  data-id='{echo $cont->_id}' id="contractDel" class="btn btn-xs btn-outline-danger open-contractDelModal">Delete <i class="fa fa-trash"></i></a>
                                    </td>
                                    {/if}
                                    
                                </tr>
                            {/foreach}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
	
	</div>
</div>
<div class="modal fade" id="contractDelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Remove Contract?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">Do you want to remove Contract. </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" id="contractId">Remove</a>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
$('.open-contractDelModal').on('click', function () {
    var contractId = $(this).data('id');
    $("#contractId").attr('href','/contract/deleteContract/'+contractId);
})

</script>