

<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="page-title-box">
					<h4 class="page-title">Contracts</h4>
					
					<div class="clearfix"></div>
				</div>
				{echo Shared\Markup::message($message ?? null)}
			</div>
		</div>
	
		<br>
         <!-- DataTales Example -->
         <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Contracts</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Contract Name</th>
									<th>Company</th>
									<th>Type</th>
									<th>Start Date</th>
									<th>End Date</th>
                                    <th>Action</th>
                            </tr>
                        </thead>
                       <tbody>
                            {foreach $cont in $contracts}
                                <tr>
                                    
                                    <td >{echo $cont->cname}</td>
                                    <td>{echo $cont->company}</td>
                                    <td>{echo $cont->type}</td>
                                
                                    <td>{echo Framework\TimeZone::printDate($cont->startDate)}</td>
                                    <td>{echo Framework\TimeZone::printDate($cont->endDate)}</td>
                                    <td>
                                        <a href="/contract/addContract/{echo $cont->_id}" class="btn btn-xs btn-outline-warning">Edit <i class="fa fa-pencil"></i></a>
                                        <a href="/contract/deleteContract/{echo $cont->_id}" class="btn btn-xs btn-outline-warning">Delete <i class="fa fa-trash"></i></a>
                                    </td>
                                    
                                </tr>
                            {/foreach}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
	
	</div>
</div>
{include layouts/opts/datatables.html}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
<script type="text/javascript">
var options = {
	"aaSorting": [[0, 'desc']],
	"scrollX": true
};
options.buttons = buttons.buttons
options.dom = buttons.dom;
var settings = $.extend( {}, buttons, options );
var pageTable;

$(document).ready(function() {
	$("img.lazy").lazyload();
	pageTable = $('.datatable').DataTable(options);
});
</script>