<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="row" style="margin-bottom: 10px;">
					
					<div class="col-2">
						<a class="btn btn-outline-primary"  href="/asset/manage" padding="10px"><i class="fa fa-eye"></i>View All</a></td>
					</div>
				</div>
				<form method="post" action="" enctype="multipart/form-data">
					<div class="card card-body m-b-20">
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Asset Name</label>
							<div class="col-sm-9 col-md-6">
								<input type="text" name="data[name]" class="form-control" required="" placeholder="Enter asset name">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Purchase Date</label>
							<div class="col-sm-9 col-md-6">
								<input class="form-control" name="data[pur_date]" value="" type="date" placeholder="Select date" required="">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Asset type</label>
							<div class="col-sm-9 col-md-6">
								<select name="data[asset_type]" required="" class="form-control" placeholder="Choose a asset type">
									<option value="car">Car</option>
									<option value="laptop">Laptop</option>
									<option value="phone">Phone</option>
									<option value="ipad">Ipad</option>
									<option value="accessories">Accessories</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Status</label>
							<div class="col-sm-9 col-md-6">
								<select name="data[status]" class="form-control" required="" placeholder="Choose a asset status">
									<option value="assigned">Assigned</option>
									<option value="available">Available</option>
									<option value="discarded">Discarded</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Select vendor</label>
							<div class="col-sm-9 col-md-6">
								<select name="data[ven_id]" class="form-control selectpicker user-select">
									{foreach $v in $vendors}
									<option value="{echo $v->_id}">({echo $v->name}) {echo $v->company_name}</option>
									{/foreach}
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Description</label>
							<div class="col-sm-9 col-md-6">
								<textarea class="form-control summernote" name="data[description]" rows="4">{echo $meta['description']}</textarea>
								<span class="help-block text-danger">{echo Shared\Markup::errors($errors, "description")}</span>
							</div>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-rounded btn-primary"><i class="fa fa-check"></i> Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>