<div class="content">
    <div class="container-fluid">
        <div class="card shadow" style="margin-bottom: 20px;">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary"> Search </h6>
			</div>	\
            <form class="card-body datesubmit row" method="get">
                <div class="col-3">
                    <div class="form-row">
                        <div class="form-group">Select Status</div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <select  onchange="this.form.submit()" class="form-control" name="query[status]" value="{echo $query['status'] ?? ''}">
                                    <option value="">All</option>
                                    <option value="pending">Awaiting Approval</option>
                                    <option value="approved">Approved by Department</option>
                                    <option value="processed">Processed</option>
                                    <option value="rejected by department">Rejected by department</option>
                                    <option value="rejected">Rejected</option>
                                </select>
                            </div>
                        
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-row">
                        <div class="form-group">Approver</div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <select  onchange="this.form.submit()" class="form-control" name="query[approver]" value="{echo $query['approver'] ?? ''}">
                                {foreach $user in $deptHeads}
                                    <option value="{echo $user->_id}">{echo $user->name}</option>
                                  {/foreach} 
                                </select>
                            </div>
                        
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-row">
                        <div class="form-group">Created Date</div>
                    </div>
                    <div class="form-row">
                        <div id="viewrangeFinance" class="form-group  float-right daterangeinput">
                            <div id="daterange" data-max-days="180" class="form-control" >
                                <i class="fa fa-calendar"></i>&nbsp;
                            <span></span> <i class="fa fa-caret-down"></i>
                            </div>
                            <input type="hidden" name="start" id="start" value="{echo Framework\TimeZone::format(['date' => $start, 'format' => 'Y-m-d'])}">
                            <input type="hidden" name="end" id="end" value="{echo Framework\TimeZone::format(['date' => $end, 'format' => 'Y-m-d'])}">
                        </div>
                    </div>

                </div>
                <div class="col-2">
                    <div class="form-row">
                        <div class="form-group">PR-ID</div>
                    </div>
                    <div class="form-row">
                        <div id="viewrange" class="form-group">
                            <input type="text" name="query[pr_id]" class="form-control" value="{echo $query['pr_id'] ?? ''}">
                        </div>
                    </div>

                </div>
                <div class="col-1">
                    <button  class="btn btn-rounded  btn-primary btn-custom w-md waves-effect waves-light" style="margin-top:40px" type="submit">Submit</button>
                </div>
            </form>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-12">
						
						{echo Shared\Markup::message($message ?? null)}
					</div>
				</div>
				
				
			</div>
		</div>
       
        <div>
            {if $purchasereq }
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered display" id="" style="width:100%" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Requester</th>
                                    <th>PR Id</th>
                                    <th>Expected Date</th>
                                    <th>Status</th>
                                    <th>Approver</th>
                                    <th>Amount</th>
                                    <th>Action</th>
                                
                                </tr>
                            </thead>
                            <tbody>
                                {foreach $obj in $purchasereq}
                                    <tr data-id='{echo $obj->_id}'>
                                        {script $user = User::first(["_id" => $obj->requester_id], [], ['maxTimeMS' => 5000 ])}
                                        {script $user2 = User::first(["_id" => $obj->approver1_id], [], ['maxTimeMS' => 5000 ])}
                                        <td>{echo $user->name}<br>
                                            Submitted On: {echo Framework\TimeZone::printDate($obj->submittedOn)}
                                        </td>
                                        <td>$obj->pr_id</td>
                                        <td>{echo Framework\TimeZone::printDate($obj->expectedDate)}</td>
                                        <td>{echo $obj->status}</td>
                                        <td>{echo $user2->name}</td>
                                        <td> {script $total =  \Models\purchasereq::getAmountSingle($obj);}
                                            <div class="detail">{$total}</div>
                                        </td>
                                        {if ($query['status'] == 'approved' || $query['status'] == 'pending')}
                                            <td>
                                                <a href="/purchasereq/approve2/{echo $obj->_id}" class="btn btn-xs btn-outline-success delete"><i class="fa fa-tick"></i> Approve</a> 
                                                <a  data-toggle="modal" data-target="#rejectReason"  data-id='{echo $obj->id}' class="btn btn-xs btn-outline-danger delete open-denyrequest"><i class="fa fa"></i> Deny</a>
                                                <a class="btn btn-outline-primary"  href="/purchasereq/view/{echo $obj->_id}" padding="10px"><i class="fa fa-eye" style="margin-right:5px"></i>View</a>
                                            </td>
                                        {/if}
                                        {if ($query['status'] == 'processed' || $query['status'] == ''|| $query['status'] == 'rejected')}
                                        <td>
                                            <a class="btn btn-outline-primary"  href="/purchasereq/view/{echo $obj->_id}" padding="10px"><i class="fa fa-eye" style="margin-right:5px"></i>View</a>
                                        </td>
                                        {/if}
                                       
                                        
                                    </tr>
                                {/foreach}
                            
                            </tbody>
                            
                        </table>
                    </div>
                </div>
            </div>
            {/if} {else}
            <div class="card-body">
                <p class="card-text">No requests found</p>
            </div>
            {/else}
        </div>
	</div>
</div>



<div class="modal fade" id="rejectReason" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Please mention the request denial reason</h5>
			<button class="close" type="button" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
		</div>
        <form class="form-horizontal m-t-20" id="formId" method="post" enctype="multipart/form-data" >
            <div class="modal-body"><textarea name="data[denialReason]" style="width:100%"></textarea> </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" id="id">Remove</button>
            </div>
        </form>
	</div>
</div>


</div>
<script type="text/javascript">
   $('.open-denyrequest').on('click', function () {
        console.log($(this).data('id'))
         var objId = $(this).data('id');
         
        $("#formId").attr('action', '/purchasereq/deny2/'+objId);
    })

$(document).ready(function () {
    $('table.display').DataTable();
    var start = '$start' ? moment('$start') : moment().subtract(29, 'days');
    var end = '$end' ? moment('$end') : moment();function cb(start, end) {
        $('#start').attr('value', start.format('YYYY-MM-DD'));
        $('#end').attr('value', end.format('YYYY-MM-DD'));
        $('#viewrangeFinance span').html(start.format('DD-MM-YYYY') + ' - ' + end.format('DD-MM-YYYY'));
    }
    $('#viewrangeFinance').daterangepicker({
        startDate: start,
        endDate: end,
        ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);
    cb(start, end);
    });
 
    </script>
