<div class="content">
    <div class="container-fluid">
        <div class="card shadow" style="margin-bottom: 20px;">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary"> Search </h6>
			</div>
				<form class="card-body" method="get">
					<div class="form-row">
						<div class="form-group col-sm-4">Select Status</div>
					</div>
					<div class="form-row">
						<div class="form-group col-sm-4">
							<select  onchange="this.form.submit()" class="form-control" name="query[status]" value="{echo $query['status'] ?? ''}">
                                <option value="">All</option>
                                <option value="approved">Awaiting Approval</option>
                                <option value="processed">Processed</option>
                                <option value="rejected">Rejected</option>
                                <option value="pending">Pending from Department</option>
								</select>
							</div>
						
					</div>
				</form>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-12">
						
						{echo Shared\Markup::message($message ?? null)}
					</div>
				</div>
				
				
			</div>
		</div>
       
        <div>
            {if $purchasereq }
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered display" id="" style="width:100%" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Requester</th>
                                    <th>PR Id</th>
                                    <th>Expected Date</th>
                                    <th>Status</th>
                                    <th>Approver</th>
                                    <th>Amount</th>
                                    <th>Action</th>
                                
                                </tr>
                            </thead>
                            <tbody>
                                {foreach $obj in $purchasereq}
                                    <tr data-id='{echo $obj->_id}'>
                                        {script $user = User::first(["_id" => $obj->requester_id], [], ['maxTimeMS' => 5000 ])}
                                        {script $user2 = User::first(["_id" => $obj->approver1_id], [], ['maxTimeMS' => 5000 ])}
                                        <td>{echo $user->name}<br>
                                            Submitted On: {echo Framework\TimeZone::printDate($obj->submittedOn)}
                                        </td>
                                        <td>$obj->pr_id</td>
                                        <td>{echo Framework\TimeZone::printDate($obj->expectedDate)}</td>
                                        <td>{echo $obj->status}</td>
                                        <td>{echo $user2->name}</td>
                                        <td> {script $total =  \Models\purchasereq::getAmountSingle($obj);}
                                            <div class="detail">{$total}</div>
                                        </td>
                                        {if ($query['status'] == 'approved' || $query['status'] == 'pending')}
                                            <td>
                                                <a href="/purchasereq/approve2/{echo $obj->_id}" class="btn btn-xs btn-outline-success delete"><i class="fa fa-tick"></i> Approve</a> 
                                                <a  data-toggle="modal" data-target="#rejectReason"  data-id='{echo $obj->id}' class="btn btn-xs btn-outline-danger delete open-denyrequest"><i class="fa fa"></i> Deny</a>
                                                <a class="btn btn-outline-primary"  href="/purchasereq/view/{echo $obj->_id}" padding="10px"><i class="fa fa-eye" style="margin-right:5px"></i>View</a>
                                            </td>
                                        {/if}
                                        {if ($query['status'] == 'processed' || $query['status'] == ''|| $query['status'] == 'rejected')}
                                        <td>
                                            <a class="btn btn-outline-primary"  href="/purchasereq/view/{echo $obj->_id}" padding="10px"><i class="fa fa-eye" style="margin-right:5px"></i>View</a>
                                        </td>
                                        {/if}
                                       
                                        
                                    </tr>
                                {/foreach}
                            
                            </tbody>
                            
                        </table>
                    </div>
                </div>
            </div>
            {/if} {else}
            <div class="card-body">
                <p class="card-text">No requests found</p>
            </div>
            {/else}
        </div>
	</div>
</div>



<div class="modal fade" id="rejectReason" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Please mention the request denial reason</h5>
			<button class="close" type="button" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
		</div>
        <form class="form-horizontal m-t-20" id="formId" method="post" enctype="multipart/form-data" >
            <div class="modal-body"><textarea name="data[denialReason]" style="width:100%"></textarea> </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" id="id">Remove</button>
            </div>
        </form>
	</div>
</div>


</div>
<script type="text/javascript">

$(document).ready(function () {
    $('table.display').DataTable();
});
    $('.open-denyrequest').on('click', function () {
        console.log($(this).data('id'))
         var objId = $(this).data('id');
         
        $("#formId").attr('action', '/purchasereq/deny2/'+objId);
      //  $("#id").attr('href','/purchasereq/manage');
    })
    </script>
