<div class="content">
    <div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-12">
						
						{echo Shared\Markup::message($message ?? null)}
					</div>
				</div>
				
				
			</div>
		</div>

        <div>
            
            {if $purchasereq && !$ifgroupBy}
           
            <button   data-toggle="modal" data-target="#exampleModal" class=" bg-white filter-btn p-3 btn-demo"><i class="fa fa-filter"></i></button>
            <div class="card shadow mb-4">
                <form method="get" class="datesubmit">
                    <div style="width:100%">
                        <div id="reportrange" class="form-group float-right daterangeinput" style="margin: 5px;">
                            <div id="daterange" data-max-days="180" class="form-control">
                                <i class="fa fa-calendar"></i>&nbsp;
                            <span></span> <i class="fa fa-caret-down"></i>
                            </div>
                            <input type="hidden" name="start" id="start" value="{echo Framework\TimeZone::format(['date' => $start, 'format' => 'Y-m-d'])}">
                            <input type="hidden"  name="end" id="end" value="{echo Framework\TimeZone::format(['date' => $end, 'format' => 'Y-m-d'])}">
                        </div>
                    </div>
                </form>
                <div class="card-body">
                    <!-- <button  onclick="$('.buttons-csv').click()"><i class="fa fa-file mr-1"></i> CSV</button> -->
                    <!-- <button class="dropdown-item" id="ExportReporttoExcel"><i class="fa fa-file mr-1"></i> CSV</button> -->

                    <div class="table-responsive">
                        <table class="table table-bordered display nowrap" id="reports"  style="width:100%" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    {foreach $field in $fields}
                                        {if ($field == 'approver1_id')}
                                            <th>Approver</th> 
                                        {/if}
                                        {else}
                                            <th>{echo $field}</th> 
                                        {/else}
                                    {/foreach}
                                </tr>
                            </thead>
                            <tbody>
                                {foreach $obj in $purchasereq}
                                    <tr data-id='{echo $obj->_id}'>
                                        {foreach $group in $fields}
                                            {if $group == 'department'}
                                            <th>{echo $departments[$obj->$group]->name}</th>
                                            {/if} 
                                            {elseif $group == 'activity_id'}
                                            <th>{echo $activities[$obj->$group]->name}</th>
                                            {/elseif}
                                            {elseif $group == 'requester_id'}
                                            <th>{echo $requesters[$obj->$group]->name}</th>
                                            {/elseif}
                                            {elseif $group == 'approver1_id'}
                                            <th>{echo $approvers[$obj->$group]->name}</th>
                                            {/elseif}
                                            
                                            {elseif  $group == 'created'}
                                            <td>{echo Framework\TimeZone::printDate($obj->$group)}</td>
                                            {/elseif}
                                            {elseif  $group == 'count'}
                                            <td>1</td>
                                            {/elseif}
                                            {elseif $group == 'amount'}
                                            <td> {script $total =  \Models\purchasereq::getAmountSingle($obj);}
                                                <div class="detail">{$total}</div>
                                            </td>
                                            {/elseif}
                                            {else}
                                            <th>{echo $obj->$group}</th>
                                            {/else}
                                           
                                    {/foreach}


                                      
                                        
                                    </tr>
                                {/foreach}
                            
                            </tbody>
                            
                        </table>
                    </div>
                </div>
            </div>
            {/if}
            {elseif $purchasereq && $ifgroupBy}
           
            <button   data-toggle="modal" data-target="#exampleModal" class=" bg-white filter-btn p-3 btn-demo"><i class="fa fa-filter"></i></button>
            <div class="card shadow mb-4">
                <form method="get" class="datesubmit">
                    <div style="width:100%">
                        <div id="reportrange" class="form-group  float-right daterangeinput" style="margin: 5px;">
                            <div id="daterange" data-max-days="180" class="form-control">
                                <i class="fa fa-calendar"></i>&nbsp;
                            <span></span> <i class="fa fa-caret-down"></i>
                            </div>
                            <input type="hidden" name="start" id="start" value="{echo Framework\TimeZone::format(['date' => $start, 'format' => 'Y-m-d'])}">
                            <input type="hidden" name="end" id="end" value="{echo Framework\TimeZone::format(['date' => $end, 'format' => 'Y-m-d'])}">
                        </div>
                    </div>
                </form>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered display" id="" style="width:100%" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    
                                    {foreach $field in $fields}
                                    <th>{echo $field}</th> 
                                    {/foreach}
                                </tr>
                            </thead>
                            <tbody>
                                {foreach $obj in $purchasereq}
                                    <tr data-id='{echo $obj->_id}'>
                                        {foreach $group in $fields}
                                            {if $group == 'department'}
                                            <th>{echo $departments[$obj[$group]]->name}</th>
                                            {/if} 
                                            {elseif $group == 'activity_id'}
                                            <th>{echo $activities[$obj[$group]]->name}</th>
                                            {/elseif}
                                            {elseif $group == 'requester_id'}
                                            <th>{echo $requesters[$obj[$group]]->name}</th>
                                            {/elseif}
                                            {elseif $group == 'approver1_id'}
                                            <th>{echo $approvers[$obj[$group]]->name}</th>
                                            {/elseif}
                                            
                                            {elseif  $group == 'created'}
                                            <td>{echo Framework\TimeZone::printDate($obj[$group])}</td>
                                            {/elseif}
                                            {elseif  $group == 'count'}
                                            <td>$obj[count]</td>
                                            {/elseif}
                                            {elseif $group == 'amount'}
                                            <td> {script $total =  \Models\purchasereq::getAmountAll($obj);}
                                                <div class="detail">{$total}</div>
                                            </td>
                                            {/elseif}
                                            {else}
                                            <th>{echo $obj[$group]}</th>
                                            {/else}
                                             
                                        {/foreach}
                                       
                                        
                                    </tr>
                                {/foreach}
                            
                            </tbody>
                            
                        </table>
                    </div>
                </div>
            </div>
            {/elseif}
            {else}
            <div class="card-body">

                <p class="card-text">No requests found</p>
                <form method="get" class="datesubmit">
                    <div style="width:100%">
                        <div id="reportrange" class="form-group daterangeinput" style="margin: 5px;width:30%">
                            <div id="daterange" data-max-days="180" class="form-control">
                                <i class="fa fa-calendar"></i>&nbsp;
                            <span></span> <i class="fa fa-caret-down"></i>
                            </div>
                            <input type="hidden" name="start" id="start" value="{echo Framework\TimeZone::format(['date' => $start, 'format' => 'Y-m-d'])}">
                            <input type="hidden" name="end" id="end" value="{echo Framework\TimeZone::format(['date' => $end, 'format' => 'Y-m-d'])}">
                        </div>
                    </div>
                </form>
                <button   data-toggle="modal" data-target="#exampleModal" class="btn btn-demo">Modify Search</button>

            </div>
            {/else}
        </div>
	</div>
</div>

<div class="container demo">
    <div class="modal left fade" id="exampleModal" tabindex="" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    {include purchasereq/filter/purchasereq.html}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- container -->
<div class="modal fade" id="rejectReason" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Please mention the request denial reason</h5>
			<button class="close" type="button" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
		</div>
        <form class="form-horizontal m-t-20" id="formId" method="post" enctype="multipart/form-data" >
            <div class="modal-body"><textarea name="data[denialReason]" style="width:100%"></textarea> </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" id="id">Remove</button>
            </div>
        </form>
		
	</div>
</div>


</div>


<script type="text/javascript">

$(document).ready(function () {
    var table = $('#reports').DataTable({
        dom: 'Bfrtip',
        "pageLength": 20 ,
        buttons: [ {
            extend: 'excelHtml5',
            customize: function( xlsx ) {
                var sheet = xlsx.xl.worksheets['sheet1.xml'];
 
                $('row c[r^="C"]', sheet).attr( 's', '2' );
            }
        } ]
    });
    var start = '$start' ? moment('$start') : moment().subtract(29, 'days');
    var end = '$end' ? moment('$end') : moment();
   
    function cb(start, end) {
        $('#start').attr('value', start.format('YYYY-MM-DD'));
		$('#end').attr('value', end.format('YYYY-MM-DD'));
        $('#reportrange span').html(start.format('DD-MM-YYYY') + ' - ' + end.format('DD-MM-YYYY'));
    }

    $('#reportrange').daterangepicker({
        startDate: start,
        endDate: end,
        ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);
    $('#reportrange').on('apply.daterangepicker', function(ev, picker) {
        $(".datesubmit").submit();
	});

    cb(start, end);
    
    });
    $('.open-denyrequest').on('click', function () {
        console.log($(this).data('id'))
         var objId = $(this).data('id');
         $("#formId").attr('action', '/purchasereq/deny1/'+objId);
    })
</script>

<style>
    .modal.left .modal-dialog {
	position:fixed;
	right: 0;
	margin: auto;
    height: 100%;
	-webkit-transform: translate3d(0%, 0, 0);
	-ms-transform: translate3d(0%, 0, 0);
	-o-transform: translate3d(0%, 0, 0);
	transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content {
	height: 100%;
	overflow-y: auto;
}

.modal.right .modal-body {
	padding: 15px 15px 80px;
}

.modal.right.fade .modal-dialog {
	left: -320px;
	-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
	-moz-transition: opacity 0.3s linear, left 0.3s ease-out;
	-o-transition: opacity 0.3s linear, left 0.3s ease-out;
	transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
	right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
	border-radius: 0;
	border: none;
}

.modal-header {
	border-bottom-color: #eeeeee;
	background-color: #fafafa;
}

/* ----- v CAN BE DELETED v ----- */
body {
	background-color: #78909c;
}

.demo {
	padding-top: 60px;
	padding-bottom: 110px;
}

.btn-demo {
	margin: 15px;
	padding: 10px 15px;
	border-radius: 0;
	font-size: 16px;
	background-color: #ffffff;
}

.btn-demo:focus {
	outline: 0;
}
.filter-btn {
    z-index: 1;
    position: fixed;
    top: 25%;
    right: 0;
    width: 55px;
    height: 55px;
    font-size: 20px;
    padding: 0 !important;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border: none;
    box-shadow: 0 0px 13px 0 rgb(21 27 38 / 15%) !important;
}
</style>
