<div class="content">
    <div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-12">
						
						{echo Shared\Markup::message($message ?? null)}
					</div>
				</div>
				
				
			</div>
		</div>

        <div>
            
            {if $purchasereq && !$ifgroupBy}
           
            <button   data-toggle="modal" data-target="#exampleModal" class=" bg-white filter-btn p-3 btn-demo"><i class="fa fa-filter"></i></button>
            <div class="card shadow mb-4">
                <form method="get" class="datesubmit">
                    <div style="width:100%">
                        <div id="reportrange" class="form-group float-right daterangeinput" style="margin: 5px;">
                            <div id="daterange" data-max-days="180" class="form-control">
                                <i class="fa fa-calendar"></i>&nbsp;
                            <span></span> <i class="fa fa-caret-down"></i>
                            </div>
                            <input type="hidden" name="start" id="start" value="{echo Framework\TimeZone::format(['date' => $start, 'format' => 'Y-m-d'])}">
                            <input type="hidden"  name="end" id="end" value="{echo Framework\TimeZone::format(['date' => $end, 'format' => 'Y-m-d'])}">
                        </div>
                    </div>
                </form>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered display" id="" style="width:100%" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Requester</th>
                                    <th>PR Id</th>
                                    <th>Expected Date</th>
                                    <th>Status</th>
                                    <th>Approver</th>
                                    <th>Amount</th>
                                    <th>Action</th>
                                
                                </tr>
                            </thead>
                            <tbody>
                                {foreach $obj in $purchasereq}
                                    <tr data-id='{echo $obj->_id}'>
                                        {script $user = User::first(["_id" => $obj->requester_id], [], ['maxTimeMS' => 5000 ])}
                                        {script $user2 = User::first(["_id" => $obj->approver1_id], [], ['maxTimeMS' => 5000 ])}
                                        <td>{echo $user->name}<br>
                                            Submitted On: {echo Framework\TimeZone::printDate($obj->submittedOn)}
                                        </td>
                                        <td>$obj->pr_id</td>
                                        <td>{echo Framework\TimeZone::printDate($obj->expectedDate)}</td>
                                        <td>{echo $obj->status}</td>
                                        <td>{echo $user2->name}</td>
                                        <td> {script $total =  \Models\purchasereq::getAmount($obj);}
                                            <div class="detail">{$total}</div>
                                        </td>
                                        {if ($query['status'] == 'pending')}
                                            <td>
                                                <a href="/purchasereq/approve1/{echo $obj->_id}" class="btn btn-xs btn-outline-success delete"><i class="fa fa-tick"></i> Approve</a> 
                                                <a  data-toggle="modal" data-target="#rejectReason"  data-id='{echo $obj->id}' class="btn btn-xs btn-outline-danger delete open-denyrequest"><i class="fa fa"></i> Deny</a>
                                                <a class="btn btn-outline-primary"  href="/purchasereq/view/{echo $obj->_id}" padding="10px"><i class="fa fa-pencil-square-o" style="margin-right:5px"></i>View</a>
                                            </td>
                                        {/if}
                                        {if ($query['status'] == 'approved' || $query['status'] == 'rejected by department' || $query['status'] == '' || $query['status'] == 'rejected')}
                                        <td>
                                            <a class="btn btn-outline-primary"  href="/purchasereq/view/{echo $obj->_id}" padding="10px"><i class="fa fa-pencil-square-o" style="margin-right:5px"></i>View</a>
                                        </td>
                                        {/if}
                                        
                                        
                                    </tr>
                                {/foreach}
                            
                            </tbody>
                            
                        </table>
                    </div>
                </div>
            </div>
            {/if}
            {elseif $purchasereq && $ifgroupBy}
           
            <button   data-toggle="modal" data-target="#exampleModal" class=" bg-white filter-btn p-3 btn-demo"><i class="fa fa-filter"></i></button>
            <div class="card shadow mb-4">
                <form method="get" class="datesubmit">
                    <div style="width:100%">
                        <div id="reportrange" class="form-group  float-right daterangeinput" style="margin: 5px;">
                            <div id="daterange" data-max-days="180" class="form-control">
                                <i class="fa fa-calendar"></i>&nbsp;
                            <span></span> <i class="fa fa-caret-down"></i>
                            </div>
                            <input type="hidden" name="start" id="start" value="{echo Framework\TimeZone::format(['date' => $start, 'format' => 'Y-m-d'])}">
                            <input type="hidden" name="end" id="end" value="{echo Framework\TimeZone::format(['date' => $end, 'format' => 'Y-m-d'])}">
                        </div>
                    </div>
                </form>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered display" id="" style="width:100%" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    {foreach $group in $groupBy}
                                    <th>{echo $group}</th> 
                                    {/foreach}
                                   
                                    <th>Amount</th>
                                    <th>Count</th>
                                
                                </tr>
                            </thead>
                            <tbody>
                                {foreach $obj in $purchasereq}
                                    <tr data-id='{echo $obj->_id}'>
                                        {foreach $group in $groupBy}
                                            {if $group == 'department'}
                                            <th>{echo $departments[$obj[$group]]->name}</th>
                                            {/if} 
                                            {elseif $group == 'activity_id'}
                                            <th>{echo $activities[$obj[$group]]->name}</th>
                                            {/elseif}
                                            {elseif $group == 'requester_id'}
                                            <th>{echo $requesters[$obj[$group]]->name}</th>
                                            {/elseif}
                                            {else}
                                            <th>{echo $obj[$group]}</th>
                                            {/else}
                                             
                                        {/foreach}
                                        <td> {script $total =  \Models\purchasereq::getAmountAll($obj);}
                                            <div class="detail">{$total}</div>
                                        </td>
                                         <td>$obj[count]</td>
                                    </tr>
                                {/foreach}
                            
                            </tbody>
                            
                        </table>
                    </div>
                </div>
            </div>
            {/elseif}
            {else}
            <div class="card-body">

                <p class="card-text">No requests found</p>
                <form method="get" class="datesubmit">
                    <div style="width:100%">
                        <div id="reportrange" class="form-group daterangeinput" style="margin: 5px;width:30%">
                            <div id="daterange" data-max-days="180" class="form-control">
                                <i class="fa fa-calendar"></i>&nbsp;
                            <span></span> <i class="fa fa-caret-down"></i>
                            </div>
                            <input type="hidden" name="start" id="start" value="{echo Framework\TimeZone::format(['date' => $start, 'format' => 'Y-m-d'])}">
                            <input type="hidden" name="end" id="end" value="{echo Framework\TimeZone::format(['date' => $end, 'format' => 'Y-m-d'])}">
                        </div>
                    </div>
                </form>
                <button   data-toggle="modal" data-target="#exampleModal" class="btn btn-demo">Modify Search</button>

            </div>
            {/else}
        </div>
	</div>
</div>

<div class="container demo">
    <div class="modal left fade" id="exampleModal" tabindex="" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    {include purchasereq/filter/purchasereq.html}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- container -->
<div class="modal fade" id="rejectReason" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Please mention the request denial reason</h5>
			<button class="close" type="button" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
		</div>
        <form class="form-horizontal m-t-20" id="formId" method="post" enctype="multipart/form-data" >
            <div class="modal-body"><textarea name="data[denialReason]" style="width:100%"></textarea> </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" id="id">Remove</button>
            </div>
        </form>
		
	</div>
</div>


</div>

<script type="text/javascript">

$(document).ready(function () {
    $('table.display').DataTable();
    var start = '$start' ? moment('$start') : moment().subtract(29, 'days');
    var end = '$end' ? moment('$end') : moment();
   
    function cb(start, end) {
        $('#start').attr('value', start.format('YYYY-MM-DD'));
		$('#end').attr('value', end.format('YYYY-MM-DD'));
        $('#reportrange span').html(start.format('DD-MM-YYYY') + ' - ' + end.format('DD-MM-YYYY'));
    }

    $('#reportrange').daterangepicker({
        startDate: start,
        endDate: end,
        ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);
    $('#reportrange').on('apply.daterangepicker', function(ev, picker) {
        $(".datesubmit").submit();
	});

    cb(start, end);
    
});
    $('.open-denyrequest').on('click', function () {
        console.log($(this).data('id'))
         var objId = $(this).data('id');
         
        $("#formId").attr('action', '/purchasereq/deny1/'+objId);
      //  $("#id").attr('href','/purchasereq/manage');
    })
</script>

<style>
    .modal.left .modal-dialog {
	position:fixed;
	right: 0;
	margin: auto;
    height: 100%;
	-webkit-transform: translate3d(0%, 0, 0);
	-ms-transform: translate3d(0%, 0, 0);
	-o-transform: translate3d(0%, 0, 0);
	transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content {
	height: 100%;
	overflow-y: auto;
}

.modal.right .modal-body {
	padding: 15px 15px 80px;
}

.modal.right.fade .modal-dialog {
	left: -320px;
	-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
	-moz-transition: opacity 0.3s linear, left 0.3s ease-out;
	-o-transition: opacity 0.3s linear, left 0.3s ease-out;
	transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
	right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
	border-radius: 0;
	border: none;
}

.modal-header {
	border-bottom-color: #eeeeee;
	background-color: #fafafa;
}

/* ----- v CAN BE DELETED v ----- */
body {
	background-color: #78909c;
}

.demo {
	padding-top: 60px;
	padding-bottom: 110px;
}

.btn-demo {
	margin: 15px;
	padding: 10px 15px;
	border-radius: 0;
	font-size: 16px;
	background-color: #ffffff;
}

.btn-demo:focus {
	outline: 0;
}
.filter-btn {
    z-index: 1;
    position: fixed;
    top: 25%;
    right: 0;
    width: 55px;
    height: 55px;
    font-size: 20px;
    padding: 0 !important;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border: none;
    box-shadow: 0 0px 13px 0 rgb(21 27 38 / 15%) !important;
}
</style>
