<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-10">
						
						{echo Shared\Markup::message($message ?? null)}
					</div>
					
				</div>
				<form method="post" action="" enctype="multipart/form-data">
					<div class="card card-body m-b-20">
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Select Asset</label>
							<div class="col-sm-9 col-md-6">
								<select name="data[asset_id]" class="form-control selectpicker user-select">
									{foreach $a in $assets}
									<option value="{echo $a->_id}">({echo $a->name}) {echo $a->asset_type}</option>
									{/foreach}
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Select employee</label>
							<div class="col-sm-9 col-md-6">
								<select name="data[emp_id]" class="form-control selectpicker user-select">
									{foreach $e in $employees}
									<option value="{echo $e->_id}">{echo $e->name}</option>
									{/foreach}
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Assign Date</label>
							<div class="col-sm-9 col-md-6">
								<input class="form-control" name="data[assign_date]" required="" type="date" placeholder="Select assign date">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Handover Date</label>
							<div class="col-sm-9 col-md-6">
								<input class="form-control" name="data[handover_date]" type="date" placeholder="Select handover date">
							</div>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-rounded btn-primary"><i class="fa fa-check"></i> Submit</button>
							
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>