<!-- <div class="topbar">
	<div class="topbar-left">
		<div class="text-center"><a href="/" class="logo"><img src="https://trackier.com/images/Trackier_Logo.png" style="width:80px"> <span></span></a></div>
	</div>
	{script $users = explode(",", Framework\Utils::getConfig('app')->app->logs->visibility)}
    <nav class="navbar-custom">
    	<ul class="list-inline float-right mb-0">
    		<li class="list-inline-item dropdown notification-list">
				<a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
					 <span class="hide-phone">{echo $user->email}</span>
				</a>
				<div class="dropdown-menu dropdown-menu-right profile-dropdown " aria-labelledby="Preview">
					
					<a href="/users/logout.html" class="dropdown-item notify-item">
						<i class="fa fa-logout"></i> <span>Logout</span>
					</a>
				</div>
			</li>
		</ul>

		<ul class="list-inline menu-left mb-0">
			<li class="float-left">
				<button class="button-menu-mobile open-left waves-light waves-effect"><i class="fa fa-bars"></i></button>
			</li>
			{if $searchbar ?? null}
			<li class="hide-phone app-search">
				<form role="search" class="">
					{script $value = $value ?? null}
					<input type="text" placeholder="Search..." class="form-control" name="value" value='{echo is_array($value) ? json_encode($value) : $value}'>
					<input type="hidden" name="property" value="{echo $property ?? null}">
					<a href="javascript:void(0);" onclick="$(this).closest('form').submit();"><i class="fa fa-search"></i></a>
				</form>
			</li>
			{/if}
		</ul>

	</nav>
</div> -->

<!-- ========== Left Sidebar Start ========== -->
<!-- <div class="left side-menu">
	<div class="sidebar-inner slimscrollleft">
		<div id="sidebar-menu">
			<ul>
			
				<li><a href="/contract/addContract.html" class="waves-effect waves-primary"><i class="fa fa-handshake-o"></i><span> Add Contract</span></a></li>
				<li><a href="/contract/manage.html" class="waves-effect waves-primary"><i class="fa fa-file-pdf-o"></i><span> View Contracts</a></li>
				<li class="has_sub">
					<a href="javascript:void(0);" class="waves-effect waves-primary"><i class="fa fa-users"></i><span> Signing Users </span> <span class="menu-arrow"></span> </a>
					<ul class="list-unstyled">
						<li><a href="/signingusers/manage.html" class="waves-effect waves-primary"><i class="fa fa-users"></i><span> Manage</a></li>
							<li><a href="/signingusers/add.html" class="waves-effect waves-primary"><i class="fa fa-user-plus"></i><span> Add Users</a></li>
					</ul>
				</li>
				<li><a href="/users/changepassword.html" class="waves-effect waves-primary"><i class="fa fa-key"></i><span> Change Password</a></li>

			
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>
</div> -->
{script $show = $user->role == 'admin' ? true : false}

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

	<!-- Sidebar - Brand -->
	<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard/view.html">
		<div class="sidebar-brand-icon rotate-n-15">
			<i class="fas fa fa-handshake-o"></i>
		</div>
		<div class="sidebar-brand-text mx-3">Contract Management</div>
	</a>

	<!-- Divider -->
	<hr class="sidebar-divider my-0">


	<!-- Divider -->
	<hr class="sidebar-divider">

	<!-- Heading -->
	<li class="nav-item active">
		<a class="nav-link" href="/dashboard/view.html">
			<i class="fas fa-fw fa-tachometer-alt"></i>
			<span>Dashboard</span></a>
	</li>


	<!-- Nav Item - Pages Collapse Menu -->
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
			aria-expanded="true" aria-controls="collapseTwo">
			<i class="fa fa-handshake-o"></i>
			<span>Contracts</span>
		</a>
		<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 class="collapse-header">Manage Contracts:</h6>
				{if $show}<a class="collapse-item" href="/contract/addContract.html">Add Contracts</a>{/if}
				<a class="collapse-item"href="/contract/manage.html">Manage Contracts</a>
			</div>
		</div>
	</li>

	<!-- Nav Item - Utilities Collapse Menu -->
	{if $show}
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
			aria-expanded="true" aria-controls="collapseUtilities">
			<i class="fas fa fa-users"></i>
			<span>Signing Users</span>
		</a>
		<div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
			data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 class="collapse-header">Manage Signing Users:</h6>
				<a class="collapse-item" href="/signingusers/manage.html">Manage </a>
				<a class="collapse-item" href="/signingusers/add.html">Add users</a>
			
			</div>
		</div>
	</li>
	{/if}

	<div class="sidebar-heading">
		Asset Management
	</div>
	
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAssigneds"
			aria-expanded="true" aria-controls="collapseTwo">
			<i class="fa fa-book"></i>
			<span>Assigned</span>
		</a>
		<div id="collapseAssigneds" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 class="collapse-header">Manage Assigneds:</h6>
				{if $show}<a class="collapse-item" href="/assigned/add.html">Add Assigned</a>{/if}
				<a class="collapse-item"href="/assigned/manage.html">Manage Assigneds</a>
			</div>
		</div>
	</li>
	{if $show}
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAssets"
			aria-expanded="true" aria-controls="collapseTwo">
			<i class="fa fa-address-card"></i>
			<span>Asset</span>
		</a>
		<div id="collapseAssets" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 class="collapse-header">Manage Assets:</h6>
				<a class="collapse-item" href="/asset/add.html">Add Asset</a>
				<a class="collapse-item"href="/asset/manage.html">Manage Assets</a>
			</div>
		</div>
	</li>

	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEmployees"
			aria-expanded="true" aria-controls="collapseTwo">
			<i class="fa fa-address-book"></i>
			<span>Employee</span>
		</a>
		<div id="collapseEmployees" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 class="collapse-header">Manage Employees:</h6>
				<a class="collapse-item" href="/employee/add.html">Add Employee</a>
				<a class="collapse-item"href="/employee/manage.html">Manage Employees</a>
			</div>
		</div>
	</li>
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
			aria-expanded="true" aria-controls="collapseTwo">
			<i class="fa fa-users"></i>
			<span>vendor</span>
		</a>
		<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 class="collapse-header">Manage vendors:</h6>
				<a class="collapse-item" href="/vendor/add.html">Add vendor</a>
				<a class="collapse-item"href="/vendor/manage.html">Manage vendors</a>
			</div>
		</div>
	</li>
	{/if}
	<!-- Divider -->
	<hr class="sidebar-divider">

	
	<li class="nav-item">
		<a class="nav-link" href="/users/changepassword.html">
			<i class="fa fa-key"></i>
			<span>Change Password</span></a>
	</li>

	<!-- Divider -->
	<hr class="sidebar-divider d-none d-md-block">

	<!-- Sidebar Toggler (Sidebar) -->
	<div class="text-center d-none d-md-inline">
		<button class="rounded-circle border-0" id="sidebarToggle"></button>
	</div>
</ul>
