<!-- <div class="topbar">
	<div class="topbar-left">
		<div class="text-center"><a href="/" class="logo"><img src="https://trackier.com/images/Trackier_Logo.png" style="width:80px"> <span></span></a></div>
	</div>
	{script $users = explode(",", Framework\Utils::getConfig('app')->app->logs->visibility)}
    <nav class="navbar-custom">
    	<ul class="list-inline float-right mb-0">
    		<li class="list-inline-item dropdown notification-list">
				<a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
					 <span class="hide-phone">{echo $user->email}</span>
				</a>
				<div class="dropdown-menu dropdown-menu-right profile-dropdown " aria-labelledby="Preview">
					
					<a href="/users/logout.html" class="dropdown-item notify-item">
						<i class="fa fa-logout"></i> <span>Logout</span>
					</a>
				</div>
			</li>
		</ul>

		<ul class="list-inline menu-left mb-0">
			<li class="float-left">
				<button class="button-menu-mobile open-left waves-light waves-effect"><i class="fa fa-bars"></i></button>
			</li>
			{if $searchbar ?? null}
			<li class="hide-phone app-search">
				<form role="search" class="">
					{script $value = $value ?? null}
					<input type="text" placeholder="Search..." class="form-control" name="value" value='{echo is_array($value) ? json_encode($value) : $value}'>
					<input type="hidden" name="property" value="{echo $property ?? null}">
					<a href="javascript:void(0);" onclick="$(this).closest('form').submit();"><i class="fa fa-search"></i></a>
				</form>
			</li>
			{/if}
		</ul>

	</nav>
</div> -->

<!-- ========== Left Sidebar Start ========== -->
<!-- <div class="left side-menu">
	<div class="sidebar-inner slimscrollleft">
		<div id="sidebar-menu">
			<ul>
			
				<li><a href="/contract/addContract.html" class="waves-effect waves-primary"><i class="fa fa-handshake-o"></i><span> Add Contract</span></a></li>
				<li><a href="/contract/manage.html" class="waves-effect waves-primary"><i class="fa fa-file-pdf-o"></i><span> View Contracts</a></li>
				<li class="has_sub">
					<a href="javascript:void(0);" class="waves-effect waves-primary"><i class="fa fa-users"></i><span> Signing Users </span> <span class="menu-arrow"></span> </a>
					<ul class="list-unstyled">
						<li><a href="/signingusers/manage.html" class="waves-effect waves-primary"><i class="fa fa-users"></i><span> Manage</a></li>
							<li><a href="/signingusers/add.html" class="waves-effect waves-primary"><i class="fa fa-user-plus"></i><span> Add Users</a></li>
					</ul>
				</li>
				<li><a href="/users/changepassword.html" class="waves-effect waves-primary"><i class="fa fa-key"></i><span> Change Password</a></li>

			
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>
</div> -->
{script $show = $user->role == 'admin' ? true : false}

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

	<!-- Sidebar - Brand -->
	<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard/view.html">
		
		<div class="sidebar-brand-text mx-3">Procurement App</div>
	</a>

	<!-- Divider -->
	<hr class="sidebar-divider my-0">


	<!-- Divider -->
	<hr class="sidebar-divider">

	<!-- Heading -->
	<li class="nav-item active">
		<a class="nav-link" href="/dashboard/view.html">
			<i class="fas fa-fw fa-tachometer-alt"></i>
			<span>Dashboard</span></a>
	</li>



	<li class="nav-item">
			<a class="nav-link" href="/contract/manage.html">
				<i class="fa fa-handshake-o"></i>
				<span>Contracts</span></a>
	</li>

	{if $show}
	
	<li class="nav-item">
		<a class="nav-link" href="/signingusers/manage.html">
			<i class="fas fa-fw fa-users"></i>
			<span>Signing Users</span></a>
	</li>
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDep"
			aria-expanded="true" aria-controls="collapseDep">
			<i class="fa-solid fa-people-group"></i>						<span> Teams</span>
		</a>
		<div id="collapseDep" class="collapse" aria-labelledby="headingUtilities"
			data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<a class="collapse-item" href="/department/manage.html">Department </a>
				<a class="collapse-item" href="/employee/manage.html">Employees</a>
			
			</div>
		</div>
	</li>
	{/if}
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePR"
			aria-expanded="true" aria-controls="collapsePR">
			<i class="fa-solid fa-cart-shopping"></i>
			<span>Purchase Requests</span>
		</a>
		<div id="collapsePR" class="collapse" aria-labelledby="headingUtilities"
			data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				{script $isDepHead = User::isDepartmentHead($user->_id, $user->department)}
				{if $isDepHead}<a class="collapse-item" href="/purchasereq/manage.html">Manage </a>{/if}
				{script $isFinHead = User::isFinanceHead($user->_id)}
				{if $isFinHead}<a class="collapse-item" href="/purchasereq/manageFinance.html">Manage Finance</a>{/if}
				<a class="collapse-item" href="/purchasereq/viewall.html">View All </a>
				<a class="collapse-item" href="/activity/manage.html">Activity</a>
				{if $show || $isDepHead}
				<a class="collapse-item" href="/purchasereq/report.html">Report</a>
				{/if}
				<a class="collapse-item" href="/purchaseorder/manage.html">Purchase Order</a>
			
			</div>
		</div>
	</li>
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAsset"
			aria-expanded="true" aria-controls="collapseAsset">
			<i class="fa-solid fa-laptop"></i>
			<span>Asset Management</span>
		</a>
		<div id="collapseAsset" class="collapse" aria-labelledby="headingUtilities"
			data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
			
				<a class="collapse-item" href="/assigned/manage.html">Assignee</a>
				{if $show}
				<a class="collapse-item" href="/asset/manage.html">Manage</a>
				<a class="collapse-item" href="/vendr/manage.html">Vendor</a>
				{/if}
			</div>
		</div>
	</li>
	
	
	<!-- Divider -->
	
	<!-- Divider -->
	<hr class="sidebar-divider d-none d-md-block">

	<!-- Sidebar Toggler (Sidebar) -->
	<div class="text-center d-none d-md-inline">
		<button class="rounded-circle border-0" id="sidebarToggle"></button>
	</div>
</ul>
