<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="row" style="margin-bottom: 10px;">
					<div class="col-10">
						
						{echo Shared\Markup::message($message ?? null)}
					</div>
				</div>
				<form method="post" action="" enctype="multipart/form-data">
					<div class="card card-body m-b-20">
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Employee Name</label>
							<div class="col-sm-9 col-md-6">
								<input type="text" name="data[name]" value="{echo $employee->name}" class="form-control" placeholder="Enter asset name">
							</div>
						</div>

						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Employee Id</label>
							<div class="col-sm-9 col-md-6">
								<input type="number" class="form-control" value="{echo $employee->emp_id}" name="data[emp_id]">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Google chat webhook</label>
							<div class="col-sm-9 col-md-6">
								<input class="form-control" value="{echo $employee->gchatwebhook}" name="data[gchatwebhook]">
							</div>
						</div>

						<div class="form-group row">
							<label class="col-sm-3 col-form-label">RM</label>
							<div class="col-sm-9 col-md-6">
								<select class="form-control"  name="data[rm_id]" value="{echo $employee->rm_id}"  required="">
									{foreach $user in $users}
									<option value="{echo $user->_id}">{echo $user->name}</option>
									{/foreach}
								</select>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Email</label>
							<div class="col-sm-9 col-md-6">
								<input type="email" class="form-control" value="{echo $employee->email}" name="data[email]">
							</div>
						</div>
			
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Phone</label>
							<div class="col-sm-9 col-md-6">
								<input type="tel" class="form-control" name="data[phone]"value="{echo $employee->phone}">
								<span class="help-block text-danger">{echo Shared\Markup::errors($errors, "phone")}</span>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Department</label>
							<div class="col-sm-9 col-md-6">
								<select class="form-control"  name="data[department]" required="" value="{echo $employee->department}">
									{foreach $dep in $departments}
									<option value="{echo $dep->_id}">{echo $dep->name}</option>
									{/foreach}
									
								</select>
							</div>
						</div>

						<div class="form-group">
							<button type="submit" class="btn btn-rounded btn-primary"><i class="fa fa-check"></i> Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

