

<div class="content">
	<div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Quick Links</h6>
            </div>
            <div class="row" style="margin:10px">
                <div style="margin:10px">
                    <a href="/purchasereq/viewall.html" >
                        <span class="icon text-white-50">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                        <span class="text">Manage Purchase Request</span>
                    </a>
                </div>
                <div style="margin:10px">
                    <a href="/contract/manage.html">
                        <span class="icon text-white-50">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                        <span class="text">Manage Contracts</span>
                    </a>
                </div>
                {if $user->role == 'admin'}
                <div style="margin:10px">
                    <a href="/asset/manage.html" >
                        <span class="icon text-white-50">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                        <span class="text">Manage Assets</span>
                    </a>
               </div>
                <div style="margin:10px">
                    <a href="/vendr/manage.html" >
                        <span class="icon text-white-50">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                        <span class="text">Manage Vendors</span>
                    </a>
                </div>
                {/if}
                <div style="margin:10px">
                    <a href="/assigned/manage.html" >
                        <span class="icon text-white-50">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                        <span class="text">Manage Assigned</span>
                    </a>
                </div>
            </div>
          
        </div>
		
        <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <h4 class="text-xs font-weight-bold text-success text-uppercase mb-1"><i class="fas fa-file-contract fa-2x text-gray-300"></i></i> &nbsp;Contracts</h4>
                        <div class="widget-chart text-center">
                            <ul class="list-inline m-t-15">
                                <li>
                                    <h5 class="text-muted font-16">Monthly</h5>
                                    <h4 class="mb-0 counter">{echo $monthlyTotal} </h4>
                                </li>
                                <li>
                                    <h5 class="text-muted font-16">Overall</h5>
                                    <h4 class="mb-0 counter">{echo $total}</h4>
                                </li>
                            </ul>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"> Assets</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{echo  count(assets)}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fa fa-address-card fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1"> Employees</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{echo count($employees)}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fa fa-address-book fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1"> Assigned</div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{echo count($assigned)}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fa fa-book fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1"> Vendors</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{echo count($vendors)}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fa fa-users fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
         <br>
   </div>
</div>

<style>
    .card-box {
        padding: 20px;
        /* border: 1px solid rgba(54,64,74,0.08); */
        /* -webkit-border-radius: 5px; */
        border-radius: 5px;
        -moz-border-radius: 5px;
        background-clip: padding-box;
        /* margin-bottom: 20px; */
        background-color: #ffffff;
}
.widget-chart ul li {
  width: 31.5%;
  display: inline-block;
  padding: 0px;
}
.sub-text, .text-muted, .vn-help {
    font-style: italic;
    font-size: 16px ;
    color: #98a6ad!important;
}
.dash-heading {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}
.header-title {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 8px;
    margin-top: 0;
}
</style>