

<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="page-title-box">
					<h4 class="page-title">Dashboard</h4>
					
					<div class="clearfix"></div>
				</div>
				
			</div>
		</div>
        <div class="row">

            <!-- Contracts (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Total Contracts (Monthly)</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{echo $monthlyTotal}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-file-contract fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Contracts Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Total Contracts</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{echo $total}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-file-signature fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-lg-6 mb-4">

            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Contracts Added Today</h6>
                </div>
                <div class="card-body">
                    {foreach $contract in $contractLines}
                        <h4 class="small font-weight-bold">{echo $contract} </h4>
                    {/foreach}
                    {if count($contractLines) == 0}
                        <h4 class="small font-weight-bold">No New Contracts Added today</h4>
                    {/if}
                    
                </div>
            </div>

            

        </div>

	
		<br>
   </div>
</div>