

<div class="content">
	<div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Quick Links</h6>
            </div>
            <div class="row" style="margin:10px">
                <div style="margin:10px">
                    <a href="/purchasereq/viewall.html" >
                        <span class="icon text-white-50">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                        <span class="text">Manage Purchase Request</span>
                    </a>
                </div>
                <div style="margin:10px">
                    <a href="/contract/manage.html">
                        <span class="icon text-white-50">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                        <span class="text">Manage Contracts</span>
                    </a>
                </div>
                {if $user->role == 'admin'}
                <div style="margin:10px">
                    <a href="/asset/manage.html" >
                        <span class="icon text-white-50">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                        <span class="text">Manage Assets</span>
                    </a>
               </div>
                <div style="margin:10px">
                    <a href="/vendr/manage.html" >
                        <span class="icon text-white-50">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                        <span class="text">Manage Vendors</span>
                    </a>
                </div>
                {/if}
                <div style="margin:10px">
                    <a href="/assigned/manage.html" >
                        <span class="icon text-white-50">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                        <span class="text">Manage Assigned</span>
                    </a>
                </div>
            </div>
          
        </div>
		
        <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <h4 class="text-xs font-weight-bold text-success text-uppercase mb-1" style="padding: 15px;"><i class="fas fa-file-contract fa-2x text-gray-300"></i></i> &nbsp;Contracts</h4>
                        <div class="widget-chart text-center">
                            <ul class="list-inline m-t-15">
                                <li>
                                    <h5 class="text-muted font-16">Monthly</h5>
                                    <h4 class="mb-0 counter">{echo $monthlyTotal} </h4>
                                </li>
                                <li>
                                    <h5 class="text-muted font-16">Overall</h5>
                                    <h4 class="mb-0 counter">{echo $total}</h4>
                                </li>
                            </ul>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <h4 class="text-xs font-weight-bold text-success text-uppercase mb-1" style="padding: 15px;"><i class="fa fa-address-card fa-2x text-gray-300"></i></i> &nbsp;Assets</h4>
                        <div class="widget-chart text-center">
                            <ul class="list-inline m-t-15">
                                <li>
                                    <h5 class="text-muted font-16">Available</h5>
                                    <h4 class="mb-0 counter">{echo count($assetsAvailable)} </h4>
                                </li>
                                <li>
                                    <h5 class="text-muted font-16">Assigned</h5>
                                    <h4 class="mb-0 counter">{echo count($assetsAssigned)}</h4>
                                </li>
                            </ul>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <h4 class="text-xs font-weight-bold text-success text-uppercase mb-1" style="padding: 15px;"><i class="fa fa-address-book fa-2x text-gray-300"></i></i> &nbsp;Employees</h4>
                        <div class="widget-chart text-center">
                            <ul class="list-inline m-t-15">
                                <li>
                                    <h5 class="text-muted font-16">Total</h5>
                                    <h4 class="mb-0 counter">{echo  count($employees)}</h4>
                                </li>
                               
                            </ul>
                        </div> 
                    </div>
                </div>
            </div>
           
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <h4 class="text-xs font-weight-bold text-success text-uppercase mb-1" style="padding: 15px;"><i class="fa fa-users fa-2x text-gray-300"></i></i> &nbsp;Vendors</h4>
                        <div class="widget-chart text-center">
                            <ul class="list-inline m-t-15">
                                <li>
                                    <h5 class="text-muted font-16">Total</h5>
                                    <h4 class="mb-0 counter">{echo  count($vendors)}</h4>
                                </li>
                            </ul>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        {script $isDepHead = User::isDepartmentHead($user->_id, $user->department)}
        {script $show = $user->role == 'admin' ? true : false}
			
		{if $show || $isDepHead}
        <div class="card" >
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Purchase Request Data</h6>
            </div>
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3" style="background-color: #e1e9ff;">
             
                <form  method="get" class="row datesubmit1">
                    <div class="col-3">
                        <div>Group By</div>
                        <div class="form-group">
                           
                            <select onchange="this.form.submit()" class="form-control" name="query[groupby]" value="{echo $query[groupby]}">
                                {foreach $obj in $optionsGroupBy }
                                    <option value="{echo $obj}">{echo $obj}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    <div class="col-3">
                        <div>Options</div>
                        <div class="form-group">
                           <select onchange="this.form.submit()" class="form-control" name="query[option]" value="{echo $query[option]}">
                                <option value="amount">Amount</option>
                                <option value="count">Count</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-3">
                        <div>Date Range</div>
                        <div id="reportrange1" class="form-group daterangeinput">
        
                                 <div id="daterange" data-max-days="180" class="form-control">
                                     <i class="fa fa-calendar"></i>&nbsp;
                                 <span></span> <i class="fa fa-caret-down"></i>
                                 </div>
                                 <input type="hidden" onchange="this.form.submit()" name="start" id="start" value="{echo Framework\TimeZone::format(['date' => $start, 'format' => 'Y-m-d'])}">
                                 <input type="hidden" onchange="this.form.submit()" name="end" id="end" value="{echo Framework\TimeZone::format(['date' => $end, 'format' => 'Y-m-d'])}">
                         </div>
                    </div>
                    <div class="col-2">
                        <div>Chart Type</div>
                        <select  onchange="this.form.submit()"  class="form-control" name="query[chart]" value="{echo $query[chart]}">
                            <option value="bar">Bar</option>
                            <option value="pie">Pie</option>
                        </select>
                    </div>
                    <div class="col-1">
                        <div></div>
                        <button class="btn btn-rounded btn-primary" style="margin-top:25px" type="submit">Submit</button>
                    </div>
                  
                 
                   
                </form>
                
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie pt-4 pb-2">
                    {if $chart == 'pie'} <canvas id="myPieChart"></canvas> {/if}
                    {if $chart == 'bar'} <canvas id="myBarChart"></canvas> {/if}
                </div>
            </div>
        </div>
        {/if}
       
         <br>
   </div>



</div>
{script $labels = $label}
{script $datas = $data}


<script type="text/javascript">
    var label = '{echo json_encode($labels)}';
    var data = '{echo json_encode($datas)}';
    var chart = '{echo $chart}';
    console.log(chart)
    $(document).ready(function () {
        var start = '$start' ? moment('$start') : moment().subtract(29, 'days');
        var end = '$end' ? moment('$end') : moment();
        $('table.display').DataTable();
        function cb(start, end) {
            $('#start').attr('value', start.format('YYYY-MM-DD'));
            $('#end').attr('value', end.format('YYYY-MM-DD'));
            $('#reportrange1 span').html(start.format('DD-MM-YYYY') + ' - ' + end.format('DD-MM-YYYY'));
        }

        $('#reportrange1').daterangepicker({
            startDate: start,
            endDate: end,
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);
        cb(start, end);
       if (chart == 'pie') {
        charts.myPieChart(label, data);
       } 
       if (chart == 'bar') {
        charts.myBarChart(label, data);
       }
       // charts.myPieChart(label, data);
        
    });
 </script>
<style>
    .card-box {
        padding: 20px;
        /* border: 1px solid rgba(54,64,74,0.08); */
        /* -webkit-border-radius: 5px; */
        border-radius: 5px;
        -moz-border-radius: 5px;
        background-clip: padding-box;
        /* margin-bottom: 20px; */
        background-color: #ffffff;
}

.widget-chart ul li {
  width: 31.5%;
  display: inline-block;
  padding: 0px;
}
.sub-text, .text-muted, .vn-help {
    font-style: italic;
    font-size: 16px ;
    color: #98a6ad!important;
}
.dash-heading {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}
.header-title {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 8px;
    margin-top: 0;
}
</style>