
<div class="row justify-content-center">

    <div class="">
        {echo Shared\Markup::message($message ?? null)}
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0" style=" display: flex;
            flex-wrap: wrap;
            align-content: center;">
                <!-- Nested Row within Card Body -->
                <div >
                   <div >
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Procurement Application</h1>
                            </div>
                            <form class="user" action="login" method="post" >
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" name="email"
                                        placeholder="Enter Email Address...">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-user"
                                    name="password" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox small">
                                        <input type="checkbox" class="custom-control-input" id="customCheck">
                                        <label class="custom-control-label" for="customCheck">Remember
                                            Me</label>
                                    </div>
                                </div>
                                <input type="hidden" name="action" value="login">
                                <input type="hidden" name="token" value="{echo $__token}">
                                <button class="btn btn-primary btn-user btn-block" type="submit">Login</button>
                                <div class="form-group text-center">
                                    <div class="col-xs-12">
                                        <a type="button" class="login-with-google-btn mt-3" href="https://contract.cloudstuff.tech/users/loginviagoogle">Sign in with Google</button>
                                    </div>
                                </div>
                                
                                <hr>
                              
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<script type="text/javascript">
    function afterLoginViaGoogle(err, resp) {
        window.location.href = resp.link;
    }
    function loginViaGoogle() {
        request.post({url: 'users/loginviagoogle', data: {}}, afterLoginViaGoogle);
    }
</script>