<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="row" style="margin-bottom: 10px;">
					<div class="col-10">
						<div class="page-title-box row">
							
						</div>
						{echo Shared\Markup::message($message ?? null)}
					</div>
					<div class="col-2">
						<a href="/vendr/manage" class="btn btn-xs btn-outline-info">View All<i class="fa fa-eye"></i></a>
					</div>
				</div>
				<form method="post" action="" enctype="multipart/form-data">
					<div class="card card-body m-b-20">
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Name</label>
							<div class="col-sm-9 col-md-6">
								<input type="text" name="data[name]" class="form-control" required="" placeholder="Enter name">
							</div>
						</div>

						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Company Name</label>
							<div class="col-sm-9 col-md-6">
								<input type="text" name="data[company_name]" class="form-control" required="" placeholder="Enter Company name">
							</div>
						</div>

						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Email</label>
							<div class="col-sm-9 col-md-6">
								<input type="email" class="form-control" required="" name="data[email]" placeholder="Enter Email name">
							</div>
						</div>
			
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Phone</label>
							<div class="col-sm-9 col-md-6">
								<input type="tel" class="form-control" name="data[phone]" required="" placeholder="Enter Phone Number">
								<span class="help-block text-danger">{echo Shared\Markup::errors($errors, "phone")}</span>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Address</label>
							<div class="col-sm-9 col-md-6">
								<input type="text" name="data[address]" class="form-control" required="" placeholder="Enter address">
							</div>
						</div>

						<div class="form-group row">
							<label class="col-sm-3 col-form-label">state</label>
							<div class="col-sm-9 col-md-6">
								<input type="text" name="data[state]" class="form-control" required="" placeholder="Enter state">
							</div>
						</div>

						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Country</label>
							<div class="col-sm-9 col-md-6">
								<input type="text" name="data[country]" class="form-control" required="" placeholder="Enter country">
							</div>
						</div>

						<div class="form-group">
							<button type="submit" class="btn btn-rounded btn-primary"><i class="fa fa-check"></i> Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>