<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="row" style="margin-bottom: 10px;">
					<div class="col-10">
						<div class="row">
							
							<!-- <div class="breadcrumb float-right">
								<li class="breadcrumb-item"><a href="/">Dashboard</a></li>
								<li class="breadcrumb-item active">Manage vendors</li>
							</div> -->
						</div>
						{echo Shared\Markup::message($message ?? null)}
					</div>
				</div>
				<div class="card shadow mb-4">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">vendor Search </h6>
					</div>
					<form class="card-body" method="get">
						<div class="form-row">
							<div class="form-group col-sm-8">
								<input type="text" name="search" class="form-control" placeholder="Search..." value="{echo $search}">
							</div>
							<div class="form-group col-sm-2">
								<select class="form-control" name="type" value="{echo $type}">
									<option value="">--</option>
									<option value="name">Name</option>
									<option value="companyName">Company Name</option>
									<option value="email">Email</option>
									<option value="emp_id">Employee Id</option>
									<option value="phone">Phone</option>
									<option value="address">Address</option>
									<option value="state">State</option>
									<option value="country">Country</option>
								</select>
							</div>
							<div class="form-group col-sm-2">
								<button type="submit" class="btn btn-outline-primary">
								<i class="fa fa-search"></i> Submit
								</button>
							</div>
						</div>
					</form>
				</div>
				{if $vendors}
				<div class="card shadow mb-4">
					<br>
					<div class="text-start px-md-2" style="margin:10px">
						<a class="btn btn-primary"  href="/vendr/add" padding="10px"><i class="fa fa-plus"></i> Add Vendor Detailss </a>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
								<thead>
									<tr>
										<th>Name</th>
										<th>Company name</th>
										<th>Email</th>
										<th>Phone</th>
										<th>Address</th>
										<th>State</th>
										<th>Country</th>
										<td>Action</td>
									</tr>
								</thead>
								<tbody>
									{foreach $obj in $vendors}
									<tr data-id='{echo $obj->_id}'>
										<td>{echo $obj->name}</td>
										<td>{echo $obj->company_name}</td>
										<td>{echo $obj->email}</td>
										<td>{echo $obj->phone}</td>
										<td>{echo $obj->address}</td>
										<td>{echo $obj->state}</td>
										<td>{echo $obj->country}</td>
										<td> <a href="/vendr/delete/{echo $obj->_id}" class="btn btn-xs btn-outline-danger delete"><i class="fa fa-trash"></i> Delete</a>
										<a class="btn btn-outline-primary"  href="/vendr/edit/{echo $obj->_id}" padding="10px"><i class="fa fa-pencil-square-o"></i>Edit</a></td>
									</tr>
									{/foreach}
								</tbody>
							</table>
						</div>
					</div>
				</div>
				{/if} {else}
				<div class="card-body">
					<p class="card-text">No vendors Found</p>
				</div>
				{/else}
				
			</div>
		</div>
	</div>
</div>